
@{
    ViewData["Title"] = "createfosblobContainer";
}

<h2>Create FOS Blob Container</h2>

<p>
    The @ViewBag.BlobContainerName is created
    @(ViewBag.Success == true? "FOS Blob Container Successfully Created" : "Failure of Creation due to container existed" )
</p>

