@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <centre>
        <h1>Upload Food Image Page</h1>
        <br />
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFoodImages" asp-action="Index">
            <p> Upload one or more food image using this form:</p>
            <br />
            <input type="file" name="files"/>
            
            <br />
            <br />
            <input type="submit" value="Upload" />
        </form>
    </centre>
}
@if (ViewBag.content != null)
{
    <script> alert("@ViewBag.content");</script>
}