@model IEnumerable<FOS_ISLAND_BBQ.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}


<h2>Feedback</h2>
<style>
    .button {
        background-color: #12102d; /* Black */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-6" >
                <svg height="300" viewBox="0 0 512 512" width="300" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m496 76v300h-480v-300a19.994 19.994 0 0 1 20-20h440a19.994 19.994 0 0 1 20 20z" fill="#006df0" /><path d="m496 376v28a19.994 19.994 0 0 1 -20 20h-440a19.994 19.994 0 0 1 -20-20v-28z" fill="#e0e0e2" /><path d="m328 464h-144l16-40h112z" fill="#787680" /><path d="m136 464h240v24h-240z" fill="#e0e0e2" /><path d="m384 36v20l-128 64-128-64v-20a12 12 0 0 1 12-12h232a12 12 0 0 1 12 12z" fill="#e0e0e2" /><path d="m384 56v132a12 12 0 0 1 -12 12h-232a12 12 0 0 1 -12-12v-132l128 64z" fill="#c6c5ca" /></g><g><path d="m476 48h-84v-12a20.02 20.02 0 0 0 -20-20h-232a20.02 20.02 0 0 0 -20 20v12h-84a28.031 28.031 0 0 0 -28 28v328a28.031 28.031 0 0 0 28 28h152.18l-9.6 24h-42.58a8 8 0 0 0 -8 8v24a8 8 0 0 0 8 8h240a8 8 0 0 0 8-8v-24a8 8 0 0 0 -8-8h-42.58l-9.6-24h152.18a28.031 28.031 0 0 0 28-28v-328a28.031 28.031 0 0 0 -28-28zm-340-12a4 4 0 0 1 4-4h232a4 4 0 0 1 4 4v15.06l-120 60-120-60zm0 32.94 116.42 58.22a8.049 8.049 0 0 0 7.16 0l116.42-58.22v119.06a4 4 0 0 1 -4 4h-232a4 4 0 0 1 -4-4zm-112 7.06a12.01 12.01 0 0 1 12-12h84v124a20.02 20.02 0 0 0 20 20h76v160h-192zm344 396v8h-224v-8zm-172.18-16 9.6-24h101.16l9.6 24zm292.18-52a12.01 12.01 0 0 1 -12 12h-440a12.01 12.01 0 0 1 -12-12v-20h464zm0-36h-256v-160h16v88a8 8 0 0 0 16 0v-88h16v80a8 8 0 0 0 16 0v-80h76a20.02 20.02 0 0 0 20-20v-124h84a12.01 12.01 0 0 1 12 12z" /><path d="m256 312a8 8 0 0 0 -8 8v8a8 8 0 0 0 16 0v-8a8 8 0 0 0 -8-8z" /></g></g></svg>
                <br />
                <a  style="color:azure" asp-action="submitefeedbackAsync" class="button button4">
                    Send feedback
                </a>

        </div>
       
        <div class="col-lg-6" >

            <svg height="300" viewBox="0 0 64 64" width="300" xmlns="http://www.w3.org/2000/svg"><g id="Recieve"><path d="m3 15h50v32h-50z" fill="#ff9811" /><path d="m49 15v22a6 6 0 0 1 -6 6h-40v4h50v-32z" fill="#ee8700" /><path d="m58.657 31.827-5.657-5.657v11.08l-3.57-3.57-.78-.78a3.005 3.005 0 0 0 -4.25 4.25l2.292 2.292 2.958 2.958a6.246 6.246 0 0 0 -1.463 4.566l-.017.034h-5.07a9.934 9.934 0 0 0 1.33 8.14l.57.86v5h14.009l-.009-4.389a2 2 0 0 1 .336-1.119l.653-.98a6 6 0 0 0 1.011-3.329v-13.7a8 8 0 0 0 -2.343-5.656z" fill="#ffbcab" /><path d="m13 25h30a10 10 0 0 0 10-10h-50a10 10 0 0 0 10 10z" fill="#ffb655" /><circle cx="28" cy="25" fill="#d80027" r="3" /><path d="m7 37h16v6h-16z" fill="#ffcd00" /><path d="m23 44h-16a1 1 0 0 1 -1-1v-6a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1zm-15-2h14v-4h-14z" /><path d="m59.364 31.12-5.364-5.364v-10.756a1 1 0 0 0 -1-1h-50a1 1 0 0 0 -1 1v32a1 1 0 0 0 1 1h38.874a10.908 10.908 0 0 0 1.726 7.693l.4.608v4.699a1 1 0 0 0 2 0v-5a1 1 0 0 0 -.167-.553l-.572-.863a8.915 8.915 0 0 1 -1.356-6.584h3.411a7.3 7.3 0 0 0 1.437 3.049l.47.58a1 1 0 1 0 1.554-1.258l-.465-.575a5.3 5.3 0 0 1 .1-6.746 1 1 0 0 0 -.053-1.357l-5.249-5.247a2.022 2.022 0 0 1 -.008-2.833 2.071 2.071 0 0 1 2.841-.006l7.07 7.07a1 1 0 0 0 1.414-1.414l-2.427-2.427v-8.252l3.95 3.95a6.959 6.959 0 0 1 2.05 4.95v13.7a4.979 4.979 0 0 1 -.84 2.774l-.653.981a2.981 2.981 0 0 0 -.5 1.674l.003 4.387a1 1 0 0 0 1 1 1 1 0 0 0 1-1l-.01-4.394a1.006 1.006 0 0 1 .168-.56l.653-.98a6.969 6.969 0 0 0 1.179-3.883v-13.7a8.941 8.941 0 0 0 -2.636-6.363zm-7.419-15.12a9.006 9.006 0 0 1 -8.945 8h-11.142a3.981 3.981 0 0 0 -7.716 0h-11.142a9.012 9.012 0 0 1 -8.944-8zm-21.945 9a2 2 0 1 1 -2-2 2 2 0 0 1 2 2zm22 9.836-2.649-2.649a4.1 4.1 0 0 0 -5.661.009 4.032 4.032 0 0 0 0 5.661l4.641 4.643a7.243 7.243 0 0 0 -1.148 3.5h-43.183v-24.695a10.99 10.99 0 0 0 9 4.695h11.142a3.981 3.981 0 0 0 7.716 0h11.142a10.929 10.929 0 0 0 7.777-3.223 11.1 11.1 0 0 0 1.223-1.467z" /><path d="m41 39h-8a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2z" /><path d="m43 43h-10a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2z" /></g></svg>
            <br />
            <a style="color:azure" class="button button4" asp-action="ProcessMsg">  Receive Feedback</a>
        
    </div>

</div>





